@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: update color pallete. Using this one kind of https://colorhunt.co/palette/2d24245c3d2eb85c38e0c097 */

@layer base {
  :root {
    --background: 30 0% 98%; /* fafafa */
    --foreground: 0 11% 16%; /* 2D2424 */
    --card: 30 0% 98%; /* fafafa */
    --card-foreground: 0 11% 16%; /* 2D2424 */
    --popover: 30 0% 98%; /* fafafa */
    --popover-foreground: 0 11% 16%; /* 2D2424 */
    --primary: 16.9 53.3% 47.1%; /* b85c38 button and badge filled color */
    --primary-foreground: 30 0% 98%; /* fafafa */
    --secondary: 30 0% 96%; /* fafafa */
    --secondary-foreground: 0 11% 16%; /* 2D2424 */
    --muted: 30 0% 96%; /* fafafa */
    --muted-foreground: 20.3 5% 25%; /* ??? */
    --accent: 30 0% 96%; /* fafafa */
    --accent-foreground: 0 11% 16%; /* 2D2424 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 0% 96%; /* fafafa */
    --border: 30 32% 89.8%; /* ?? */
    --input: 30 32% 89.8%; /* ?? */
    --ring: 40 50% 50%; /* ??? */
    --radius: 0.5rem;

    --cardhover-background: 240 4.9% 83.9%;
    --cardhover-border: 30 0% 98%; /* fafafa */
    --cardhover-shadow: 240 3.7% 15.9%;

    --link: 47.9 95.8% 53.1%;

    --spotlight: 0 6% 28%;
  }
  .dark {
    --background: 0 11% 16%; /* 2D2424 */
    --foreground: 30 0% 98%; /* fafafa */
    --card: 0 11% 16%; /* 2D2424 */
    --card-foreground: 30 0% 98%; /* fafafa */
    --popover: 0 11% 16%; /* 2D2424 */
    --popover-foreground: 30 0% 98%; /* fafafa */
    --primary: 16.9 53.3% 47.1%; /* b85c38 */
    --primary-foreground: 0 9.8% 18%; /* 322929 */
    --secondary: 33.1 18.5% 69.2%; /* bfb2a2 */
    --secondary-foreground: 30 0% 98%; /* fafafa */
    --muted: 33.1 18.5% 69.2%; /* bfb2a2 */
    --muted-foreground: 33.3 52.9% 86.7%; /* efdfcb */
    --accent: 33.1 18.5% 69.2%; /* bfb2a2 */
    --accent-foreground: 30 0% 98%; /* fafafa */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 0% 98%; /* fafafa */
    --border: 33.1 18.5% 69.2%; /* bfb2a2 */
    --input: 33.1 18.5% 69.2%; /* bfb2a2 */
    --ring: 0 0% 83.1%;

    /* TODO choose different colors */
    --cardhover-background: 0 10.6% 25.9%;
    --cardhover-border: 0 11% 16%; /* 2D2424 */
    --cardhover-shadow: 25 20% 65% / 0.1;

    --link: 47.9 95.8% 53.1%;

    --spotlight: 0 6% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .mouse-spotlight {
    @apply fixed inset-0 pointer-events-none;
    background-image: radial-gradient(
      700px at var(--mouse-x) var(--mouse-y),
      hsl(var(--spotlight) / 40%) 0%,
      hsl(var(--spotlight) / 20%) 25%,
      hsl(var(--spotlight) / 0%) 50%
    );
  }
}
