@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: update color pallete. Using this one kind of https://colorhunt.co/palette/2d24245c3d2eb85c38e0c097 */

@layer base {
  :root {
    --background: 30 0% 98%; /* fafafa */
    --foreground: 0 11% 16%; /* 2D2424 */
    --card: 30 0% 98%; /* fafafa */
    --card-foreground: 0 11% 16%; /* 2D2424 */
    --popover: 30 0% 98%; /* fafafa */
    --popover-foreground: 0 11% 16%; /* 2D2424 */
    --primary: 40 50% 50%; /* ??? */
    --primary-foreground: 30 0% 98%; /* fafafa */
    --secondary: 30 0% 96%; /* fafafa */
    --secondary-foreground: 0 11% 16%; /* 2D2424 */
    --muted: 30 0% 96%; /* fafafa */
    --muted-foreground: 33.3 15% 45%; /* ??? */
    --accent: 30 0% 96%; /* fafafa */
    --accent-foreground: 0 11% 16%; /* 2D2424 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 0% 96%; /* fafafa */
    --border: 30 32% 89.8%; /* ?? */
    --input: 30 32% 89.8%; /* ?? */
    --ring: 40 50% 50%; /* ??? */
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 11% 16%; /* 2D2424 */
    --foreground: 30 0% 98%; /* fafafa */
    --card: 0 11% 16%; /* 2D2424 */
    --card-foreground: 30 0% 98%; /* fafafa */
    --popover: 0 11% 16%; /* 2D2424 */
    --popover-foreground: 30 0% 98%; /* fafafa */
    --primary: 33.1 18.5% 69.2%; /* bfb2a2 */
    --primary-foreground: 0 9.8% 18%; /* 322929 */
    --secondary: 33.1 18.5% 69.2%; /* bfb2a2 */
    --secondary-foreground: 30 0% 98%; /* fafafa */
    --muted: 33.1 18.5% 69.2%; /* bfb2a2 */
    --muted-foreground: 33.3 52.9% 86.7%; /* efdfcb */
    --accent: 33.1 18.5% 69.2%; /* bfb2a2 */
    --accent-foreground: 30 0% 98%; /* fafafa */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 0% 98%; /* fafafa */
    --border: 33.1 18.5% 69.2%; /* bfb2a2 */
    --input: 33.1 18.5% 69.2%; /* bfb2a2 */
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
